<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- 

데이터 전달 방식 2가지 (default = GET)
GET: 주소창을 통해 전달 -> 보안에 취약함 ,대용량 전송 불가,속도가 빠르다
POST: 파일 내부로 심어서 전달  -> 보안에 우수함, 대용량 전송 가능 , 속도가 느리다 

JSP 스크립팅 요소 5가지 

스크립틀릿(scriplet)	<%     %> 	자바 코드 영역
주석 (comment)		<%-- --%>	주석 처리
지시어(directive)		<%@    %>	정보
선언문(declaration) 	<%!    %>	함수 및 변수 정의
표현식(expression) 	<%=    %> 	함수 및 변수 값 호출

1. 스크립틀릿(Scriplet)
가장 기본이 되는 스크립틀릿 자바 코드를 삽입하기 위한 목적으로 사용

2. 주석
HTML 주석의 형태와 매우 비슷함 

3. 지시어 (Directive)
@는 애너테이션(주석이나 부가 정보)을 의미한다
<%@ page ...    	%> 페이지 처리방법 정의
<%@ include ...     %> 다른 체이지 삽입 (import와 유사)
<%@ taglib ...    	%> 

4. 선언문
<%!    %> 함수나 변수의 선언이 가능.
대부분의 경우 스크립틀릿에서 선언이 가능함에 따라 사용 빈도가 적지만 
반드시 선언문에서 선언을 해야 할 경우도 있다.

5. 표현식
<%=    %> 함수 변수 값 호출 
표현식 태그로 함수나 변수의 호출이 가능함 
표현식의 코드가 변수일 경우에는 실행 시 변수에 저장된 값이 출력되고 함수일 경우에는
주어진 함수를 허출하여 얻은 반환 값이 출력된다 \






JSP 한글처리 
1.
2.
 -->
</body>
</html>

